#header-bottom {
  background: #1B1B1B;
  height: 5px;
}
#header {
  border-bottom: 1px solid $border-color;
  height: 15px;
  background: #1B1B1B;
  border-bottom: 1px solid #575656;
  padding: 20px;
  
  #header-inner {
    @include container;
    @include susy-grid-background;
  }

  h1 {
    margin-bottom: 0;
    margin-top: -4px;
    font-size: 2.5em;
    font-weight: normal;
    font-family: 'ChunkFiveRegular', Arial, Helvetica, sans-serif;
    a {
        color:#fff;
        &:hover {
            text-decoration:none;
            color:#fff;
        }
        img {
          margin-top: -10px;
        }
    }
  }

  .top-navigation {
    margin: 0;
    float: right;
    padding-left: 0;
    
    li {
      font-size: 1.5em;
      a {
        color: #fff;
        font-weight: normal;
      }
    }
    
    @include delimited-list("|");
    .sitemap {
      @include header-icon("sitemap.png");
    }
    .feeds {
      @include header-icon("rss.png");
    }
  }
}
