#sidebar {
  .widget {
    background: white;
    border: solid 1px #D2D2D2;
    padding: 10px;
    margin-bottom: 10px;
  }
  .entry-widgets {
    padding-top: 0;
  }
  
  h3 {
    color:#000;
    letter-spacing: 0.1em;
    
    padding: 0.5em;
    a {
      color:#000;
      letter-spacing: 0.1em;
    }
  }

  p { 
    padding-left: 1em;
    color:#555;
  }

  ul, ol {
    margin-left: 1em;
    ul, ol {
      margin-left: 0em;
      color:#555;
    }
  }
}

#widget-tags {
  ul.tags { @include tag-cloud(1.4em); }
}

#widget-populars {
  a { display: block; }
}

#widget-search {
  input[type=text] { width: 70%; }
}

table.calendar {
  table-layout: fixed;
  caption, td, th {
    padding: 4px 0;
    text-align: center;
  }
  caption {
    background: none;
    font-weight: bold;
    color: $header-color;
    text-transform: uppercase;
  }
  th, tfoot td {
    background: none repeat scroll 0 0 $box-color;
    border-bottom: 1px solid darken($box-color, 10%);
    border-top: 1px solid darken($box-color, 10%);
  }
  tfoot td {
    font-style: normal;
    text-transform: capitalize;
  }
  .entry {
    font-weight: bold;
  }
}
